<!-- Jaskiran (300978743)-->
<%include ./partials/header.ejs %>
<h2 style="text-align:center">Services provided by Jaskiran Kaur</h2>
<img src="/Assets/images/digimark.jpg" height="400" widht="400" border-style="solid" border: 4>
<img src="/Assets/images/mobdev.jpg" height="400" widht="400" border:4 border-style="solid"> 
<img src="/Assets/images/webdesign.png"  height="400" widht="400" border:4 border-style="solid">


 </body>
</html>
<% include ./partials/footer.ejs%>